@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

//#F2CB05 amarillo

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f2;
  font-weight: 500;
}

p{
  margin: 0;
}